body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c3c3c7;
}

.titulo{
    background-color: #d8e2dc;
    text-align: center;
    margin:3%;
    height: 90px;
    padding: 1%;
}
.topicos{
    border-style: ridge;
    margin: 3%;
    padding: 1%;
    border-width: 5px;
    background-color: #d8e2dc;
}
.login:hover{
    background-color: #becdff;
}
a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: underline;
	color: rgb(2, 2, 2)
	}
a:active {
	text-decoration: none
	}
.segundo{
    text-align: center;
}
